<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coopsrc.xandroid.demos">

    <application
        android:name=".DemosApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".framesequence.FrameSequenceActivity"
            android:label="@string/title_activity_frame_sequence"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".particle.drop.DropParticleActivity"
            android:label="@string/title_activity_particle_drop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".particle.ParticleActivity"
            android:label="@string/title_activity_particle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".downloader.simple.SimpleDownloadActivity"
            android:label="@string/title_activity_simple_downloader" />
        <activity
            android:name=".downloader.DownloaderActivity"
            android:label="@string/title_activity_downloader"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".blur.BlurActivity"
            android:label="@string/activity_title_blur" />
        <activity
            android:name=".androlua.AndroluaActivity"
            android:label="@string/activity_title_androlua" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge" >
            <meta-data
                android:name="com.coopsrc.xandroid.demos.DemoAppInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>