<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coopsrc.xandroid.http.monitor">

    <application>
        <activity
            android:name=".ui.details.DetailsActivity"
            android:label="@string/title_activity_details"
            android:theme="@style/MonitorTheme"/>
        <activity
            android:name=".ui.list.MonitorActivity"
            android:label="@string/title_activity_monitor"
            android:theme="@style/MonitorTheme" />
    </application>

</manifest>